html {
    background: url(../gif/all-hands.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
}

.container {
    color: black;
    margin: 0 auto;
    position: fixed;
    width: 100vw;
    top: 0px;
    padding: 5% 0;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

li {
    display: inline-flex font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    align-content: center;
    text-align: center;
    font-weight: bold;
}

li span {
    display: block;
    font-size: 4.5rem;
    color: #2f87de;
    background-color: #ffee21;
    border: 1px solid black;
    padding: 1vw;
}

li div {
    margin-top: 5px;
    background-color: #ffee21;
    border: 1px solid black;
    padding: 1vw;
}

@supports (-webkit-text-stroke: .5px black) {
    li span {
        -webkit-text-fill-color: #2f87de;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
    }
    li {
        -webkit-text-fill-color: #2f87de;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
    }
}

@media all and (max-width: 768px) {
    li {
        font-size: 4vw;
        padding: 0 2vw;
    }
    li span {
        font-size: 10vw;
    }
}